<div class="container">
  <h1>Fitness Stats</h1>

  <ul>
    <li>Total Steps Today: <%= @activity.total_steps_by_day %> steps </li>
    <li>Total Calories Burned Today: <%= @activity.total_calories_by_day %> calories</li>
    <li>Total Distance Today: <%= @activity.total_distance_by_day %> miles </li>
    <li>Total Hours Sedentary Today: <%= @activity.total_hours_sedentary%> hours </li>
    <li>Resting Heart Rate Today: <%= @activity.resting_heart_rate_by_day %> B.P.M </li>
  </ul>

  <h1>Meal Stats</h1>
  <ul>


  </ul>

</div>
