<div class="container">
  <div class="col-md-6 col-md-offset-0">
    <h1 class='text-center'>Meal Stats</h1>
    <ul class="meal-progress">
      <li class="meal">
        <h3>Calorie Progress</h3>
        <progress class="meal-1" max="<%= @goals.total_calories %>" value="<%= @meals.sum(:calorie_total)%>">
          <strong>Calorie Progress:</strong>
        </progress>
      </li>

      <li class="meal">
        <h3>Protein Progress</h3>
        <progress class="meal-2" max="<%= @goals.total_protein %>" value="<%= @meals.sum(:protein_total)%>">
          <strong>Protein Progress:</strong>
        </progress>
      </li>

      <li class="meal">
        <h3>Carbohydrate Progress</h3>
        <progress class="meal-3" max="<%= @goals.total_carbohydrates %>" value="<%= @meals.sum(:carbohydrates_total) %>">
          <strong>Carbohydrate Progress:</strong>
        </progress>
      </li>

      <li class="meal">
        <h3>Fat Progress</h3>
        <progress class="meal-4" max="<%= @goals.total_fat %>" value="<%= @meals.sum(:fat_total) %>">
          <strong>Fat Progress:</strong>
        </progress>
      </li>
    </ul>
  </div>

  <div class="col-md-6 col-md-offset-0">
    <h1 class='text-center'>Fitness Stats</h1>
    <ul class="fitness-progress">
      <li class="fitness">
        <h3>Total Steps Progress</h3>
        <progress class="fitness-1" max="<%= @goals.total_steps %>" value="@activity.total_steps_by_day ">
          <strong>Total Steps Progress:</strong>
        </progress>
      </li>
    </ul>

    <ul>
      <li>Total Steps Today: <%= @activity.total_steps_by_day %> steps </li>
      <li>Total Calories Burned Today: <%= @activity.total_calories_by_day %> calories</li>
      <li>Total Distance Today: <%= @activity.total_distance_by_day %> miles </li>
      <li>Total Hours Sedentary Today: <%= @activity.total_hours_sedentary%> hours </li>
      <li>Resting Heart Rate Today: <%= @activity.resting_heart_rate_by_day %> B.P.M </li>
    </ul>
  </div>

</div>
