<div class="form-group">
<%= f.label :total_steps %>
<%= f.text_field :total_steps %>
</div>

<div class="form-group">
<%= f.label :total_calories_burned %>
<%= f.text_field :total_calories_burned %>
</div>

<div class="form-group">
<%= f.label :total_calories %>
<%= f.text_field :total_calories %>
</div>

<div class="form-group">
<%= f.label :total_protein %>
<%= f.text_field :total_protein %>
</div>

<div class="form-group">
<%= f.label :total_carbohydrates %>
<%= f.text_field :total_carbohydrates %>
</div>

<div class="form-group">
<%= f.label :total_fat  %>
<%= f.text_field :total_fat%>
</div>
