<div class="form-group">
<%= f.label :total_steps, :class => "goal-label" %>
<%= f.text_field :total_steps, :class => "goal-text" %>
</div>

<div class="form-group">
<%= f.label :total_calories_burned, :class => "goal-label" %>
<%= f.text_field :total_calories_burned %>
</div>

<div class="form-group">
<%= f.label :total_calories, :class => "goal-label" %>
<%= f.text_field :total_calories %>
</div>

<div class="form-group">
<%= f.label :total_protein, :class => "goal-label" %>
<%= f.text_field :total_protein %>
</div>

<div class="form-group">
<%= f.label :total_carbohydrates, :class => "goal-label" %>
<%= f.text_field :total_carbohydrates %>
</div>

<div class="form-group">
<%= f.label :total_fat, :class => "goal-label"  %>
<%= f.text_field :total_fat%>
</div>
