<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-left">
         <% if current_user %>
         <li class="custom-nav"> <%= link_to "New Food Entry", new_meal_path %></li>
          <% if current_user.goals.empty? %>
            <li class="custom-nav"> <%= link_to "My Goals", new_goal_path %></li>
          <% else %>
            <li class="custom-nav"> <%= link_to "My Goals", goals_path %></li>
          <% end %>
         <% end %>
      </ul>
      <ul class="nav navbar-nav navbar-center">
        <li class="custom-nav"> <%= link_to "FitMaster", root_path %></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if current_user %>
          <li class="custom-nav"> <%= link_to "Hello, #{current_user.display_name}", dashboard_index_path %></li>
          <li class="custom-nav"> <%= link_to "Logout", logout_path, method: :delete %></li>
        <% else %>
          <li class="custom-nav"><%= link_to "Login with Fitbit", fitbit_login_path %></li>
        <% end  %>
        </li>
      </ul>
    </div>
</nav>
